
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	background:#000 url(../img/bg_footer.jpg) no-repeat left top; 	
	height:80px; 
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
    -webkit-order: 3;
	align-self: flex-end;
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}