/*@media screen and (max-width: 1200px) {
  .brand-box{
    margin: -10px;
  }
  .search{
    margin: 0;
  }
  .search__field{
    width: 87%;
  }
  .info__phone-number{
    font-size: 17px;
  }
  .separator{
    width: auto;
    margin: 0 -25px;
  }
  .separator_nav{
    margin: 10px -15px 0;
  }
  nav{
    margin: 0 -10px;
  }
  .menu{
    margin-top: 10px;
  }
  .slider__slide{
    margin-top: -420px;
  }
  .slider__text{
    font-size: 30px;
  }
}*/
@media screen and (min-width: 1201px) and (max-width: 1280px){
  .brand-box{
    margin: -10px;
  }
  .search{
    margin: 0;
  }
  .search__field{
    width: 87%;
  }
  .info__phone-number{
    font-size: 17px;
  }
  .separator{
    width: auto;
    margin: 0 -25px;
  }
  .separator_nav{
    margin: 10px -15px 0;
  }
  nav{
    margin: 0 -10px;
  }
  .use__login-box{
    margin-left: 6px;
  }
  .slider__slide{
    margin-top: -530px;
  }
  .slider__text{
    font-size: 36px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .brand-box{
    margin: -10px;
  }
  .search{
    margin: 0;
  }
  .search__field{
    width: 87%;
  }
  .info__phone-number{
    font-size: 17px;
  }
  .separator{
    width: auto;
    margin: 0 -25px;
  }
  .separator_nav{
    margin: 10px -15px 0;
  }
  nav{
    margin: 0 -10px;
  }
  .menu{
    margin-top: 10px;
  }
  .slider__slide{
    margin-top: -400px;
  }
  .slider__text{
    font-size: 30px;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .brand-box{
    margin: -10px;
  }
  .logo__slogan{
    font-size: 11px;
  }
  .search{
    margin: 0;
  }
  .search__field{
    width: 84%;
  }
  .info__phone-number{
    font-size: 14px;
  }
  .info__schedule{
    font-size: 9px;
    line-height: 9px;
  }
  .info__schedule-text{
    font-size: 9px;
  }
  .separator{
    width: auto;
    margin: 0 -25px;
  }
  .separator_nav{
    margin: 10px -15px 0;
  }
  nav{
    margin: 0 -10px;
  }
  .use__product-text{
    font-size: 13px;
  }
  .use__login-text{
    font-size: 13px;
  }
  .menu{
    margin-top: 10px;
  }
  .menu__link{
    font-size: 13px;
  }
  .slider{
    padding: 0 15px 10px;
  }
  .slider__slide{
    width: 100%;
    height: auto;
    margin-top: -320px;
  }
  .item-prev::before{
    top: 30%;
  }
  .item-prev{
    height: 70px;
  }
  .item-next::before{
    top: 30%;
  }
  .item-next{
    height: 70px;
  }
  .slick-dots{
    display: none!important;
  }
  .slider__slogan{
    top: 28%;
    left: 8%;
  }
  .slider__text{
    font-size: 22px;
    line-height: 25px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .hamburger-inner::before{
    top: -5px;
  }
  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before{
    width: 20px;
    height: 2px;
    background-color: #fff;
  }
  .hamburger-inner::after {
    bottom: -5px;
  }
  .hamburger{
    width: 100%;
    padding: 12px 20px;
  }
  .brand-box{
    margin: 0 -15px;
  }

  .slider{
    padding: 0 0 10px;
  }
  .slider__item{
    width: 100%;
    height: auto;
  }
  .slider__slide{
    margin-top: -120px;
  }
  .item-prev::before{
    top: 30%;
  }
  .item-prev{
    height: 70px;
  }
  .item-next::before{
    top: 30%;
  }
  .item-next{
    height: 70px;
  }
  .slick-dots{
    display: none!important;
  }
  .slider__slogan{
    top: 28%;
    left: 10%;
    width: 50%;
  }
  .slider__text{
    font-size: 19px;
    line-height: 25px;
    padding: 10px 0;
  }
}
@media screen and (max-width: 500px) {
  .hamburger-inner::before{
    top: -5px;
  }
  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before{
    width: 20px;
    height: 2px;
    background-color: #fff;
  }
  .hamburger-inner::after {
    bottom: -5px;
  }
  .hamburger{
    width: 100%;
    padding: 12px 20px;
  }
  .brand-box{
    margin: 0 -15px;
  }

  .slider{
    padding: 0 0 10px;
  }
  .slider__item{
    width: 100%;
    height: auto;
  }
  .slider__slide{
    margin-top: -70px;
  }
  .slick-dots{
    display: none!important;
  }
  .slider__slogan{
    width: 55%;
    padding: 0 15px;
    top: 32%;
    left: 8%;
  }
  .slider__text{
    font-size: 14px;
    line-height: 14px;
    padding: 7px 0;
  }
  .item-prev::before{
    background: url("../img/prev-ico-mob.png") no-repeat;
    top: 25%;
  }
  .item-prev:hover:before {
    background: url("../img/prev-ico-mob-hover.png") no-repeat;
  }
  .item-prev{
    height: 30px;
    width: 20px;
    top: 40%
  }
  .item-next::before{
    background: url("../img/next-ico-mob.png") no-repeat;
    top: 25%;
    right: 0;
  }
  .item-next:hover:before {
    background: url("../img/next-ico-mob-hover.png") no-repeat;
  }
  .item-next{
    height: 30px;
    width: 20px;
    top: 40%;
  }
}