@import "base/_reset";
@import "base/_fonts";
//@import "components/_jquery.formstyler";
//@import "components/_fancybox";
@import "components/_slick";
//@import "components/_mCustomScrollbar";
@import "layout/_header";
@import "layout/_footer";
@import "layout/_content";


.brand-box{
  margin: 0 -45px;
  padding: 25px 0 20px;
}
.separator{
  width: 111%;
  height: 1px;
  background-color: #b9b8bd;
  margin: 0 -60px;
}
.logo{
  vertical-align: middle;
}
.logo__box{
  display: block;
  text-decoration: none;
  padding-top: 9px;
}
.logo__box:hover,
.logo__box:focus{
  text-decoration: none;
}
.logo__slogan{
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #747688;
  padding: 0;
}
.search{
  width: 94%;
  margin: 0 -25px;
  padding-top: 3px;
}
.search__form{
  border: 1px solid #b9b8bd;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  width: 110%;
}
.search__field{
  background-color: transparent;
  border: none;
  outline: none;
  width: 90%;
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #b8b8bd;

}
.search__button{
  border: none;
  background-color: transparent;
  outline: none;
}
.search__button-ico{
  width: 20px;
  height: 20px;
}
.info{
  padding-top: 6px;
  text-align: right;
}
.info__phone-box{
  display: inline-block;
  vertical-align: middle;
}
.info__phone-number{
  font-family: "PTSansRegular";
  font-size: 23px;
  color: #181616;
  text-decoration: none;
}
.info__schedule-box{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: 5px;
}
.info__schedule{
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #cb944c;
  padding: 0;
}
.info__schedule-text{
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #2b3056;
  padding: 0;
}
nav{
  padding: 10px 0 15px;
  margin: 0 -45px;
}
.use{
  text-align: right;
}
.use__basket-box{
  display: inline-block;
}
.use__basket-link{
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}
.use__basket-logo{
  width: 20px;
  height: 20px;
}
.use__product-quantity{
  display: inline-block;
  border-radius: 100%;
  background-color: #cb944c;
  font-family: "PTSansBold";
  font-size: 14px;
  color: #ffffff;
  padding: 2px 4px 4px;
}
.use__product-text{
  display: inline-block;
  font-family: "PTSansBold";
  font-size: 14px;
  color: #747688;
  text-transform: uppercase;
  padding: 0;
}
.use__product-sum{
  font-family: "PTSansBold";
  font-size: 14px;
  color: #747688;
  text-transform: uppercase;
}
.use__login-box{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.use__login-link{
  text-decoration: none;
}
.use__login-link:hover{
  text-decoration: none;
}
.use__login-text{
  font-family: "PTSansBold";
  font-size: 16px;
  color: #747688;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s linear 0s;
}
.use__login-text:hover{
  color: #000000;
}
.menu{
  padding-top: 5px;
}
.menu__item:first-child.menu__item:before{
  display: block;
  position: absolute;
  top: 3px;
  left: -3px;
  content: "";
  width: 16px;
  height: 12px;
  background: url("../img/menu-ico.png") no-repeat;
}
.menu__item{
  display: inline-block;
  position: relative;
  margin-left: 23px;
}
.menu__item:first-child{
  margin-left: 0;
  padding: 0 5px 0 20px;
}
.menu__item:first-child.menu__item:after{
  display: block;
  position: absolute;
  top: 5px;
  right: -12px;
  content: "";
  width: 11px;
  height: 7px;
  background: url("../img/arrow-down-ico.png") no-repeat;
  cursor: pointer;
}
.menu__inner-list,
.menu__submenu-list{
  display: block;
  width: 240px;
  opacity: 0;
  visibility: hidden;
  transition: all .8s ease .15s;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #b9b8bd;
  border-radius: 5px;
  list-style: none;
  padding: 15px 0 20px;
}
.menu__inner-list{
  top: 40px;
  left: 0;
  z-index: 2;
}
.menu__item:hover .menu__inner-list{
  opacity: 1;
  visibility: visible;
}
.menu__link{
  display: inline-block;
  font-family: "PTSansBold";
  font-size: 16px;
  color: #171717;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__link:hover{
  text-decoration: none;
  //color: #171717;
}
.menu__inner-item{
  position: relative;
  padding: 0 30px;
}
.menu__inner-item:hover{
  background-color: #e9e9ea;
}
.menu__inner-item_title{
  font-family: "PTSansBold";
  font-size: 16px;
  color: #cb944c;
  text-transform: uppercase;
  margin-left: -15px;
  padding-bottom: 5px;
}
.menu__inner-item_title:hover{
  background-color: transparent;
}
.menu__inner-item_submenu{
  position: relative;
}
.menu__inner-item_submenu:after{
  position: absolute;
  top: 18px;
  right: 18px;
  content: "";
  width: 7px;
  height: 11px;
  background: url("../img/menu-arrow-right-ico.png") no-repeat;
}
.menu__submenu-list{
  top: 0;
  right: -245px;
}
.menu__inner-item:hover .menu__submenu-list{
  opacity: 1;
  visibility: visible;
}
.menu__inner-link:before{
  position: absolute;
  top: 15px;
  left: -15px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 1px solid #cb944c;
  background-color: transparent;
}
.menu__inner-link{
  display: inline-block;
  position: relative;
  font-family: "PTSansRegular";
  font-size: 15px;
  color: #666666;
  padding: 10px 0;
}
.menu__inner-link:hover{
  text-decoration: none;
  color: #666666;
}
/*Slider*/

.slider{
  position: relative;
  max-width: 1350px;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  margin: auto;
  padding: 32px 0 95px;
}
.slider__item{
  display: block;
  position: relative;
  overflow: hidden;
}
.slider__slide{
  width: 100%;
  height: auto;
  margin-top: -560px;
}
.slider__slogan{
  position: absolute;
  top: 28.5%;
  left: 5%;
  width: 37%;
  padding: 0 30px;
  background: rgba(212,168,116,0.88);
}
.slider__text{
  font-family: "PTSansRegular";
  font-size: 42.5px;
  color: #ffffff;
  line-height: 47.66px;
}
.item-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 30%;
  left: 0;
  display: block;
  width: 40px;
  height: 125px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: rgba(212,168,116,0.88);
  z-index: 1;
}
.item-prev:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 28px;
  background: url("../img/prev-ico.png") no-repeat;
  left: 25%;
  top: 40%;
}
.item-prev:hover {
  background: rgba(255,255,255,0.88);
}
.item-prev:hover:before {
  background: url("../img/prev-ico-hover.png") no-repeat;
}
.item-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 30%;
  right: 0;
  display: block;
  width: 40px;
  height: 125px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: rgba(212,168,116,0.88);
}
.item-next:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 28px;
  background: url("../img/next-ico.png") no-repeat;
  right: 25%;
  top: 40%;
}
.item-next:hover {
  background: rgba(255,255,255,0.88);
}
.item-next:hover:before {
  background: url("../img/next-ico-hover.png") no-repeat;
}
.slick-dots{
  position: absolute;
  bottom: -60px;
  text-align: center;
  width: 100%;
}
.slick-dots li{
  display: inline-block;
  margin-left: 20px;
}
.slick-dots li:first-child{
  margin-left: 0;
}
.slick-dots li button{
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: none;
  background-color: #eedcc4;
  color: transparent;
}
.slick-dots li.slick-active button{
  background-color: #cb944c;
}
/*Slider End*/

/*Mobile menu*/

.mobile-nav{
  margin: 0 -40px;
}
.mobile-nav:after{
  display: block;
  content: "";
  clear: both;
}
.mobile-nav__button-block{
  float: left;
  width: 20%;
}
.mobile-nav__button-block:after{
  clear: both;
  display: block;
  content: "";
}
.mobile-nav__logo-menu-block{
  float: left;
  width: 80%;
}
.mobile-nav__logo-menu-block:after{
  clear: both;
  display: block;
  content: "";
}
.hamburger-box{
  width: 20px;
  margin: auto;
}
.mobile-nav__logo-menu{
  padding: 15px 0;
  color: #dbdbdc;
  width: 100%;
}
.mobile-nav__logo-menu:after{
  clear: both;
  display: block;
  content: "";
}
.mobile-nav__logo-link{
  display: block;
  float: left;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  color: #dbdbdc;
  width: 20%;
  padding: 0 15px;
}
.mobile-nav__ico{
  font-size: 25px;
  line-height: 18px;
  fill: #dbdbdc;
  width: 20px;
  height: 20px;
}
.mobile-nav__ico:hover,
.mobile-nav__ico:focus{
  fill: #cb944c;
}
#mobile-menu-icon{
  background-color: #3eade2;
}
/*Mobile menu End*/



@import "layout/_media";