/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Light.eot");
  src: url("../fonts/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Bold.eot");
  src: url("../fonts/Open Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Bold.woff") format("woff"), url("../fonts/Open Sans Bold.ttf") format("truetype"), url("../fonts/Open Sans Bold.svg#Open Sans Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans.eot");
  src: url("../fonts/Open Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.ttf") format("truetype"), url("../fonts/Open Sans.svg#Open Sans") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSansItalic/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  background: #ffffff url(../img/bg_header.jpg) no-repeat left top;
  width: 100%;
  min-width: 320px;
  text-align: left;
  order: 1;
  -webkit-order: 1; }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  background: #000 url(../img/bg_footer.jpg) no-repeat left top;
  height: 80px;
  text-align: left;
  width: 100%;
  min-width: 320px;
  order: 3;
  -webkit-order: 3;
  align-self: flex-end; }

.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  height: 100%; }

.wrapper {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h2 {
  font-size: 32px;
  line-height: 37px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  background: #fff000; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100hv;
    width: 100%;
    display: flex;
    flex-direction: column; } }
.brand-box {
  margin: 0 -45px;
  padding: 25px 0 20px; }

.separator {
  width: 111%;
  height: 1px;
  background-color: #b9b8bd;
  margin: 0 -60px; }

.logo {
  vertical-align: middle; }

.logo__box {
  display: block;
  text-decoration: none;
  padding-top: 9px; }

.logo__box:hover,
.logo__box:focus {
  text-decoration: none; }

.logo__slogan {
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #747688;
  padding: 0; }

.search {
  width: 94%;
  margin: 0 -25px;
  padding-top: 3px; }

.search__form {
  border: 1px solid #b9b8bd;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  width: 110%; }

.search__field {
  background-color: transparent;
  border: none;
  outline: none;
  width: 90%;
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #b8b8bd; }

.search__button {
  border: none;
  background-color: transparent;
  outline: none; }

.search__button-ico {
  width: 20px;
  height: 20px; }

.info {
  padding-top: 6px;
  text-align: right; }

.info__phone-box {
  display: inline-block;
  vertical-align: middle; }

.info__phone-number {
  font-family: "PTSansRegular";
  font-size: 23px;
  color: #181616;
  text-decoration: none; }

.info__schedule-box {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: 5px; }

.info__schedule {
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #cb944c;
  padding: 0; }

.info__schedule-text {
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #2b3056;
  padding: 0; }

nav {
  padding: 10px 0 15px;
  margin: 0 -45px; }

.use {
  text-align: right; }

.use__basket-box {
  display: inline-block; }

.use__basket-link {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle; }

.use__basket-logo {
  width: 20px;
  height: 20px; }

.use__product-quantity {
  display: inline-block;
  border-radius: 100%;
  background-color: #cb944c;
  font-family: "PTSansBold";
  font-size: 14px;
  color: #ffffff;
  padding: 2px 4px 4px; }

.use__product-text {
  display: inline-block;
  font-family: "PTSansBold";
  font-size: 14px;
  color: #747688;
  text-transform: uppercase;
  padding: 0; }

.use__product-sum {
  font-family: "PTSansBold";
  font-size: 14px;
  color: #747688;
  text-transform: uppercase; }

.use__login-box {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px; }

.use__login-link {
  text-decoration: none; }

.use__login-link:hover {
  text-decoration: none; }

.use__login-text {
  font-family: "PTSansBold";
  font-size: 16px;
  color: #747688;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s linear 0s; }

.use__login-text:hover {
  color: #000000; }

.menu {
  padding-top: 5px; }

.menu__item:first-child.menu__item:before {
  display: block;
  position: absolute;
  top: 3px;
  left: -3px;
  content: "";
  width: 16px;
  height: 12px;
  background: url("../img/menu-ico.png") no-repeat; }

.menu__item {
  display: inline-block;
  position: relative;
  margin-left: 23px; }

.menu__item:first-child {
  margin-left: 0;
  padding: 0 5px 0 20px; }

.menu__item:first-child.menu__item:after {
  display: block;
  position: absolute;
  top: 5px;
  right: -12px;
  content: "";
  width: 11px;
  height: 7px;
  background: url("../img/arrow-down-ico.png") no-repeat;
  cursor: pointer; }

.menu__inner-list,
.menu__submenu-list {
  display: block;
  width: 240px;
  opacity: 0;
  visibility: hidden;
  transition: all .8s ease .15s;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #b9b8bd;
  border-radius: 5px;
  list-style: none;
  padding: 15px 0 20px; }

.menu__inner-list {
  top: 40px;
  left: 0;
  z-index: 2; }

.menu__item:hover .menu__inner-list {
  opacity: 1;
  visibility: visible; }

.menu__link {
  display: inline-block;
  font-family: "PTSansBold";
  font-size: 16px;
  color: #171717;
  text-transform: uppercase;
  text-decoration: none; }

.menu__link:hover {
  text-decoration: none; }

.menu__inner-item {
  position: relative;
  padding: 0 30px; }

.menu__inner-item:hover {
  background-color: #e9e9ea; }

.menu__inner-item_title {
  font-family: "PTSansBold";
  font-size: 16px;
  color: #cb944c;
  text-transform: uppercase;
  margin-left: -15px;
  padding-bottom: 5px; }

.menu__inner-item_title:hover {
  background-color: transparent; }

.menu__inner-item_submenu {
  position: relative; }

.menu__inner-item_submenu:after {
  position: absolute;
  top: 18px;
  right: 18px;
  content: "";
  width: 7px;
  height: 11px;
  background: url("../img/menu-arrow-right-ico.png") no-repeat; }

.menu__submenu-list {
  top: 0;
  right: -245px; }

.menu__inner-item:hover .menu__submenu-list {
  opacity: 1;
  visibility: visible; }

.menu__inner-link:before {
  position: absolute;
  top: 15px;
  left: -15px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 1px solid #cb944c;
  background-color: transparent; }

.menu__inner-link {
  display: inline-block;
  position: relative;
  font-family: "PTSansRegular";
  font-size: 15px;
  color: #666666;
  padding: 10px 0; }

.menu__inner-link:hover {
  text-decoration: none;
  color: #666666; }

/*Slider*/
.slider {
  position: relative;
  max-width: 1350px;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  margin: auto;
  padding: 32px 0 95px; }

.slider__item {
  display: block;
  position: relative;
  overflow: hidden; }

.slider__slide {
  width: 100%;
  height: auto;
  margin-top: -560px; }

.slider__slogan {
  position: absolute;
  top: 28.5%;
  left: 5%;
  width: 37%;
  padding: 0 30px;
  background: rgba(212, 168, 116, 0.88); }

.slider__text {
  font-family: "PTSansRegular";
  font-size: 42.5px;
  color: #ffffff;
  line-height: 47.66px; }

.item-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 30%;
  left: 0;
  display: block;
  width: 40px;
  height: 125px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: rgba(212, 168, 116, 0.88);
  z-index: 1; }

.item-prev:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 28px;
  background: url("../img/prev-ico.png") no-repeat;
  left: 25%;
  top: 40%; }

.item-prev:hover {
  background: rgba(255, 255, 255, 0.88); }

.item-prev:hover:before {
  background: url("../img/prev-ico-hover.png") no-repeat; }

.item-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 30%;
  right: 0;
  display: block;
  width: 40px;
  height: 125px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: rgba(212, 168, 116, 0.88); }

.item-next:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 28px;
  background: url("../img/next-ico.png") no-repeat;
  right: 25%;
  top: 40%; }

.item-next:hover {
  background: rgba(255, 255, 255, 0.88); }

.item-next:hover:before {
  background: url("../img/next-ico-hover.png") no-repeat; }

.slick-dots {
  position: absolute;
  bottom: -60px;
  text-align: center;
  width: 100%; }

.slick-dots li {
  display: inline-block;
  margin-left: 20px; }

.slick-dots li:first-child {
  margin-left: 0; }

.slick-dots li button {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: none;
  background-color: #eedcc4;
  color: transparent; }

.slick-dots li.slick-active button {
  background-color: #cb944c; }

/*Slider End*/
/*Mobile menu*/
.mobile-nav {
  margin: 0 -40px; }

.mobile-nav:after {
  display: block;
  content: "";
  clear: both; }

.mobile-nav__button-block {
  float: left;
  width: 20%; }

.mobile-nav__button-block:after {
  clear: both;
  display: block;
  content: ""; }

.mobile-nav__logo-menu-block {
  float: left;
  width: 80%; }

.mobile-nav__logo-menu-block:after {
  clear: both;
  display: block;
  content: ""; }

.hamburger-box {
  width: 20px;
  margin: auto; }

.mobile-nav__logo-menu {
  padding: 15px 0;
  color: #dbdbdc;
  width: 100%; }

.mobile-nav__logo-menu:after {
  clear: both;
  display: block;
  content: ""; }

.mobile-nav__logo-link {
  display: block;
  float: left;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  color: #dbdbdc;
  width: 20%;
  padding: 0 15px; }

.mobile-nav__ico {
  font-size: 25px;
  line-height: 18px;
  fill: #dbdbdc;
  width: 20px;
  height: 20px; }

.mobile-nav__ico:hover,
.mobile-nav__ico:focus {
  fill: #cb944c; }

#mobile-menu-icon {
  background-color: #3eade2; }

/*Mobile menu End*/
/*@media screen and (max-width: 1200px) {
  .brand-box{
    margin: -10px;
  }
  .search{
    margin: 0;
  }
  .search__field{
    width: 87%;
  }
  .info__phone-number{
    font-size: 17px;
  }
  .separator{
    width: auto;
    margin: 0 -25px;
  }
  .separator_nav{
    margin: 10px -15px 0;
  }
  nav{
    margin: 0 -10px;
  }
  .menu{
    margin-top: 10px;
  }
  .slider__slide{
    margin-top: -420px;
  }
  .slider__text{
    font-size: 30px;
  }
}*/
@media screen and (min-width: 1201px) and (max-width: 1280px) {
  .brand-box {
    margin: -10px; }

  .search {
    margin: 0; }

  .search__field {
    width: 87%; }

  .info__phone-number {
    font-size: 17px; }

  .separator {
    width: auto;
    margin: 0 -25px; }

  .separator_nav {
    margin: 10px -15px 0; }

  nav {
    margin: 0 -10px; }

  .use__login-box {
    margin-left: 6px; }

  .slider__slide {
    margin-top: -530px; }

  .slider__text {
    font-size: 36px; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .brand-box {
    margin: -10px; }

  .search {
    margin: 0; }

  .search__field {
    width: 87%; }

  .info__phone-number {
    font-size: 17px; }

  .separator {
    width: auto;
    margin: 0 -25px; }

  .separator_nav {
    margin: 10px -15px 0; }

  nav {
    margin: 0 -10px; }

  .menu {
    margin-top: 10px; }

  .slider__slide {
    margin-top: -400px; }

  .slider__text {
    font-size: 30px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .brand-box {
    margin: -10px; }

  .logo__slogan {
    font-size: 11px; }

  .search {
    margin: 0; }

  .search__field {
    width: 84%; }

  .info__phone-number {
    font-size: 14px; }

  .info__schedule {
    font-size: 9px;
    line-height: 9px; }

  .info__schedule-text {
    font-size: 9px; }

  .separator {
    width: auto;
    margin: 0 -25px; }

  .separator_nav {
    margin: 10px -15px 0; }

  nav {
    margin: 0 -10px; }

  .use__product-text {
    font-size: 13px; }

  .use__login-text {
    font-size: 13px; }

  .menu {
    margin-top: 10px; }

  .menu__link {
    font-size: 13px; }

  .slider {
    padding: 0 15px 10px; }

  .slider__slide {
    width: 100%;
    height: auto;
    margin-top: -320px; }

  .item-prev::before {
    top: 30%; }

  .item-prev {
    height: 70px; }

  .item-next::before {
    top: 30%; }

  .item-next {
    height: 70px; }

  .slick-dots {
    display: none !important; }

  .slider__slogan {
    top: 28%;
    left: 8%; }

  .slider__text {
    font-size: 22px;
    line-height: 25px;
    padding: 10px 0; } }
@media screen and (max-width: 767px) {
  .hamburger-inner::before {
    top: -5px; }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    width: 20px;
    height: 2px;
    background-color: #fff; }

  .hamburger-inner::after {
    bottom: -5px; }

  .hamburger {
    width: 100%;
    padding: 12px 20px; }

  .brand-box {
    margin: 0 -15px; }

  .slider {
    padding: 0 0 10px; }

  .slider__item {
    width: 100%;
    height: auto; }

  .slider__slide {
    margin-top: -120px; }

  .item-prev::before {
    top: 30%; }

  .item-prev {
    height: 70px; }

  .item-next::before {
    top: 30%; }

  .item-next {
    height: 70px; }

  .slick-dots {
    display: none !important; }

  .slider__slogan {
    top: 28%;
    left: 10%;
    width: 50%; }

  .slider__text {
    font-size: 19px;
    line-height: 25px;
    padding: 10px 0; } }
@media screen and (max-width: 500px) {
  .hamburger-inner::before {
    top: -5px; }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    width: 20px;
    height: 2px;
    background-color: #fff; }

  .hamburger-inner::after {
    bottom: -5px; }

  .hamburger {
    width: 100%;
    padding: 12px 20px; }

  .brand-box {
    margin: 0 -15px; }

  .slider {
    padding: 0 0 10px; }

  .slider__item {
    width: 100%;
    height: auto; }

  .slider__slide {
    margin-top: -70px; }

  .slick-dots {
    display: none !important; }

  .slider__slogan {
    width: 55%;
    padding: 0 15px;
    top: 32%;
    left: 8%; }

  .slider__text {
    font-size: 14px;
    line-height: 14px;
    padding: 7px 0; }

  .item-prev::before {
    background: url("../img/prev-ico-mob.png") no-repeat;
    top: 25%; }

  .item-prev:hover:before {
    background: url("../img/prev-ico-mob-hover.png") no-repeat; }

  .item-prev {
    height: 30px;
    width: 20px;
    top: 40%; }

  .item-next::before {
    background: url("../img/next-ico-mob.png") no-repeat;
    top: 25%;
    right: 0; }

  .item-next:hover:before {
    background: url("../img/next-ico-mob-hover.png") no-repeat; }

  .item-next {
    height: 30px;
    width: 20px;
    top: 40%; } }

/*# sourceMappingURL=style.css.map */
